---
const {link1, link2, link3, name1, name2, name3} = Astro.props;
---

<header>
    <nav>
        <p id="time"></p>
        <a href={link1}><h3>{name1}</h3></a>
        <a href={link2}><h3>{name2}</h3></a>
        <a href={link3}><h3>{name3}</h3></a>
        <p id="date"></p>
    </nav>
</header>